/* Menu */

/*  */
body {
  width: 100%;
  padding: 0;
  margin: 0;
}


.tela-inteira {
  height: 120vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 10%;
  background-color: rgb(36, 34, 34);
  color:red;
  border: 1px solid rgb(54, 54, 54);

}
header input{
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(54, 54, 54);;
 
}
main {
  min-height: 80%;
  display: flex;
}

.menu-vertical {
  flex-basis: 200px;
  border-right-style: solid;
  border-right-width: thin;
  border-right: 1px solid rgb(126, 34, 34);
}

.botoes-meunu-vertical {
  list-style-type: none;
  color: white;
  
}

.painel-de-videos {
  padding-left: 20px;
  padding-top: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4, 1fr);
}



.box-pagina-principal {

  padding: 10px;
  margin: 10px;
  border: 1px solid white;
}

.box-pagina-principal h4{
  color: white;
}

footer {
  height: 10%;
  background-color: grey;
    margin: 0 ;
  padding: 0;
  display: flex;
  align-items: center;
  
}

.box-pagina-principal > img {
  width: 100%;
  height: 200px;
}

h4 {
  margin-left: 20px;
}

